<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link href="<%= BASE_URL %>css/videojs/video-js.min.css" rel="stylesheet">
  <link href="<%= BASE_URL %>css/videojs/videojs.record.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    * {
      box-sizing: border-box;
    }
  </style>

  <script src="<%= BASE_URL %>js/videojs/video.min.js"></script>
  <script src="<%= BASE_URL %>js/videojs/RecordRTC.js"></script>
  <script src="<%= BASE_URL %>js/videojs/adapter.js"></script>
  <script src="<%= BASE_URL %>js/videojs/videojs.record.js"></script>

</head>

<body>
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
      Please enable it to continue.</strong>
  </noscript>  
  <camera></camera>
  <!-- built files will be auto injected -->
</body>


</html>