@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.vjs-record .vjs-device-button.vjs-control {
  display: none;
}

.video-record {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.start-screen__btn {
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}

.start-screen__btn-upload,
.start-screen__btn-camera {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  color: #ccc;
}

.start-screen__btn-upload:hover,
.start-screen__btn-camera:hover {
  color: #39bce8;
}

.start-screen__btn-upload:hover i,
.start-screen__btn-camera:hover i {
  transform: scale(1.3);
}

.start-screen__btn-upload i,
.start-screen__btn-camera i {
  margin-bottom: 10px;
  font-size: 31px;
  transition: 0.25s;
}

.start-screen__controlls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video-record__settings {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #ccc;
  font-size: 16px;
}

.video-record__settings:hover {
  color: #ffffff;
}

.video-record__start-screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000;
  z-index: 10;
  font-size: 16px;
}

.start-screen__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-screen__text {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #ffffff;
}

.timer {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 700;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  color: #ffffff;
  font-size: 52px;
  text-shadow: 0px 1px 0px #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preload {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  background: #000000;
  color: #ffffff;
  font-size: 52px;
  text-shadow: 0px 1px 0px #000;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preload__loading-text {
  font-size: 16px;
  color: #6b6a79;
}

.preload__img {
  width: 42px;
  height: 42px;
}

.preload.show {
  display: flex;
}

.stop-record {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  cursor: pointer;
  background: #000;
  height: 35px;
  color: #ffffff;
  text-shadow: 0px 1px 0px #000;
  z-index: 11;
}

.settings {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 11;
  align-items: center;
  justify-content: space-between;
  background: rgb(0 0 0 / 0.5);
  padding: 10px;
}

.settings__save {
  margin-right: 15px;
  background: #c7084b;
  padding: 5px 10px;
  font-size: 12px;
  color: #ffffff;
  border: none;
}

.settings__list {
  margin: 0;
  list-style: none;
  padding: 0;
}

.settings__list select {
  margin-bottom: 0;
  width: 150px;
}

.settings__list li + li {
  margin-top: 10px;
}

.settings__icon {
  color: #ffffff;
  width: 25px;
}

.record-menu {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  background: #000000;
  color: #ffffff;
  text-shadow: 0px 1px 0px #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.record-menu__list {
  padding: 0;
  margin: 0;
  list-style: none;
  min-width: 300px;
}

.record-menu__item {
  font-size: 16px;
  padding: 15px;
  border: 1px solid #555;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.record-menu__item:hover {
  border: 1px solid #fff;
}

.record-menu__item i {
  margin-right: 15px;
}

.record-menu__item + .record-menu__item {
  margin-top: 15px;
}

.skip-review {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 11;
  background: #000000;
  color: #ffffff;
  text-shadow: 0px 1px 0px #000;
  cursor: pointer;
  display: flex;
  text-align: center;
  height: 35px;
  justify-content: center;
  align-items: center;
}

.upload-file {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000000;
  z-index: 11;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-file__wrapper {
  width: 300px;
  position: relative;
}

.progress-bar {
  width: 100%;
  position: relative;
  background: #ccc;
  border-radius: 4px;
  height: 20px;
  overflow: hidden;
}
.progress-bar__value {
  position: absolute;
  left: 0;
  height: 100%;
  top: 0;
  background: cornflowerblue;
}

.progress-bar__text {
  color: #fff;
  text-align: center;
}

.message-show-black {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  min-height: calc(100vh - 55px);
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: rgba(17, 17, 17);
  color: #fff;
  padding: 20px;  
}

.message-show-black__text {
  font-size: 20px;
}

.message-show-black__list {
  list-style: none;
  padding: 0;
}
.message-show-black__list li+li {
  margin-top: 15px;
}
.message-show-black__list li span {
  color:red;
  margin-right: 5px;
}

.message-show-black__upload {
  width: 42px;  
  height: 42px;
  margin: 0 auto;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  color:#fff;
  border-radius: 50%;
  border:none;
  background: rgba(37, 37, 37);
}

.message-show-black__record-container {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
}

.message-show-black__re-record {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: red;
  border:none;
}

.message-show-black__close {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(37, 37, 37);
  color:#fff;
  border:none;
  margin-left: 25px;
  margin-right: -75px;
  font-size: 18px;
}

.message-show-black__arrow {
  font-size: 42px;
  color: rgb(76 75 75);
}