<template>
  <div>
    <input type="file" id="file" ref="file" v-on:change="handleFileUpload()" hidden />
    <div class="progress-bar">
      <div class="progress-bar__value" v-bind:style="{width:uploadPercentage+'%'}"></div>
    </div>
    <p class="progress-bar__text">Uploading: {{uploadPercentage}}%</p>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "UploadFile",
  props: {
    uploadServerUrl: String    
  },
  data() {
    return {
      file: "",
      uploadPercentage: 0,
    };
  },
  methods: {
    openFileSelect: function () {
      this.$refs.file.click();
    },
    handleFileUpload: function () {
      this.file = this.$refs.file.files[0];
      if (this.file) this.upload();
    },
    upload: function () {
      this.$emit("upload-start");      
      let formData = new FormData();
      console.log(this.uploadServerUrl)
      formData.append("file", this.file, this.file.name);
      axios
        .post(this.uploadServerUrl, formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
          onUploadProgress: function (progressEvent) {
            this.uploadPercentage = parseInt(
              Math.round((progressEvent.loaded / progressEvent.total) * 100)
            );
          }.bind(this),
        })
        .then(() => {
          this.$emit("upload-complete");
        })
        .catch((error) => {
          this.$emit("upload-error", error);
        });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import "../assets/css/style.css";
</style>
