<template>
  <div class="video-record">
    <div v-if="showTimer">
      <div class="timer">
        <div class="timer__count">{{count}}</div>
      </div>
    </div>
    <div class="preload" v-bind:class="{'show':showPreload}">
      <img class="preload__img" :src="preloadUrl" alt />
      <p class="preload__loading-text">Waiting for hardware...</p>
    </div>
    <div class="video-record__start-screen start-screen" v-if="showStartScreen">
      <button
        v-if="!isMac && !isSafari"
        class="start-screen__btn video-record__settings"
        @click="openSettings"
      >
        <i class="fa fa-cog"></i>
      </button>
      <div class="start-screen__content">
        <p class="start-screen__text">Choose a method below to submit your video</p>
        <div class="start-screen__controlls">
          <button
            v-if="!isMac"
            class="start-screen__btn start-screen__btn-camera"
            @click="startRecord"
          >
            <i class="fa fa-video-camera"></i>
            record from camera
          </button>
          <button class="start-screen__btn start-screen__btn-upload" @click="openFileSelect">
            <i class="fa fa-cloud-upload"></i>
            upload a video file
          </button>
        </div>
      </div>
    </div>
    <div
      class="stop-record"
      v-if="isRecording"
      @click="stopRecord"
    >Click to stop record&nbsp;({{recordTime}})</div>
    <div v-if="isReview">
      <div class="skip-review" @click="skipReview">Skip review</div>
    </div>
    <div v-if="showSettingsScreen">
      <div class="settings">
        <ul class="settings__list ul">
          <li>
            <i class="settings__icon fa fa-video-camera"></i>
            <select v-model="selectVideoDevice" @change="changeVideoInput($event)">
              <option
                v-bind:key="'video_'+option.deviceId"
                v-show="option.kind==='videoinput'"
                v-for="option in videoDevicesList"
                v-bind:value="option.deviceId"
              >{{ option.label }}</option>
            </select>
          </li>
          <li>
            <i class="settings__icon fa fa-microphone"></i>
            <select v-model="selectAudioDevice" @change="changeAudioInput($event)">
              <option
                v-bind:key="'audio_'+option.deviceId"
                v-show="option.kind==='audioinput'"
                v-for="option in audioDevicesList"
                v-bind:value="option.deviceId"
              >{{ option.label }}</option>
            </select>
          </li>
        </ul>
        <button class="settings__save" @click="closeSettings">Save Settings</button>
      </div>
    </div>
    <div v-if="showRecordMenu && !isReview">
      <div class="record-menu">
        <ul class="record-menu__list">
          <li class="record-menu__item" @click="accept">
            <i class="record-menu__item-icon fa fa-floppy-o"></i>&nbsp;Accept
          </li>
          <li class="record-menu__item" v-if="!isMac && !isSafari" @click="review">
            <i class="record-menu__item-icon fa fa-play"></i>&nbsp;Review Recording
          </li>
          <li class="record-menu__item" @click="reRecord">
            <i class="record-menu__item-icon fa fa-times-circle"></i>&nbsp;Re-record
          </li>
        </ul>
      </div>
    </div>
    <div v-if="(isSafari && !isMac) && showBlackScreen">
      <div class="message-show-black">
        <div>
          <button class="message-show-black__upload" @click="openFileSelect">
            <i class="fa fa-cloud-upload"></i>
          </button>
          <h1 class="message-show-black__text">Is your camera showing up black?</h1>
          <ul class="message-show-black__list">
            <li>
              <span>1.</span>Open your iOS Settings.
            </li>
            <li>
              <span>2.</span>Search for "Camera Privacy".
            </li>
            <li>
              <span>3.</span>Make sure this browser or app is enabled.
            </li>
          </ul>
        </div>
        <div class="message-show-black__arrow">
          <i class="fa fa-long-arrow-down"></i>
        </div>
        <div class="message-show-black__record-container">
          <button class="message-show-black__re-record" @click="reRecord"></button>
          <button class="message-show-black__close" @click="showBlackScreen=false">
            <i class="fa fa-remove"></i>
          </button>
        </div>
      </div>
    </div>
    <video @click="stopRecord" ref="video" id="myVideo" playsinline class="video-js vjs-my-skin"></video>
    <div class="upload-from-camera" v-if="isSafari">
      <input
        type="file"
        ref="captureInput"
        v-on:change="onChangeCaptureInput($event)"
        accept="video/*"
        capture="user"
        hidden
      />
    </div>
    <div class="upload-file" v-show="showUpload">
      <div class="upload-file__wrapper">
        <UploadFile
          ref="uploadFile"
          :uploadServerUrl="uploadServerUrl"
          v-on:upload-start="onUploadStart"
          v-on:upload-complete="onUploadComplete"
          v-on:upload-error="onUploadError($event)"
        />
      </div>
    </div>
  </div>
</template>
<!-- eslint-disable -->
<script>
import UploadFile from "./UploadFile";
export default {
  name: "VideoRecord",
  components: {
    UploadFile,
  },
  props: {
    maxLength: Number,
    uploadServerUrl: String,
  },
  data() {
    return {
      showBlackScreen: false,
      showStartScreen: true,
      showSettingsScreen: false,
      showRecordMenu: false,
      showTimer: false,
      showPreload: false,
      showUpload: false,
      timeClockinterval: null,
      player: null,
      count: 0,
      isRecording: false,
      isReview: false,
      recordTime: "",
      isSafari: /^((?!chrome|android).)*safari/i.test(navigator.userAgent),
      isMac: /(Mac|MAC)/i.test(navigator.platform),
      isEdge: /Edge/.test(navigator.userAgent),
      isOpera: !!window.opera || navigator.userAgent.indexOf("OPR/") !== -1,
      videoDevices: [],
      audioDevices: [],
      deviceId: null,
      deviceIsReady: false,
      selectVideoDevice: null,
      selectAudioDevice: null,
      options: {
        deviceButton: false,
        controls: false,
        fluid: true,
        bigPlayButton: false,
        controlBar: {
          volumePanel: false,
        },
        plugins: {
          record: {
            audio: true,
            video: true,
            maxLength: this.maxLength,
            debug: true,
            timeSlice: 1000,
          },
        },
      },
    };
  },
  mounted() {
    this.applyWorkarounds();
    this.player = videojs("myVideo", this.options, function () {});
    this.addVideoJsEvents();
    if (!this.isSafari && !this.isMac) {
      this.showPreload = true;
      this.player.record().getDevice();
    }
  },
  beforeDestroy() {
    if (this.player) {
      this.player.dispose();
    }
  },
  computed: {
    videoDevicesList: function () {
      return this.videoDevices;
    },
    audioDevicesList: function () {
      return this.audioDevices;
    },
    preloadUrl: function () {
      return process.env.NODE_ENV === "production"
        ? process.env.VUE_APP_SERVER + "loading.gif"
        : "loading.gif";
    },
  },
  methods: {
    applyWorkarounds: function () {
      if (this.isSafari || this.isEdge) {
        if (this.isSafari && window.MediaRecorder !== undefined) {
          // this version of Safari has MediaRecorder
          return;
        }

        // support recording in safari 11/12
        // see https://github.com/collab-project/videojs-record/issues/295
        this.options.plugins.record.audioRecorderType = StereoAudioRecorder;
        this.options.plugins.record.audioSampleRate = 44100;
        this.options.plugins.record.audioBufferSize = 4096;
        this.options.plugins.record.audioChannels = 2;

        console.log("applied audio workarounds for this browser");
      }
      // use correct video mimetype for opera
      if (this.isOpera) {
        this.options.plugins.record.videoMimeType = "video/webm;codecs=vp8"; // or vp9
      }

      if (adapter.browserDetails.browser == "firefox") {
        adapter.browserShim.shimGetDisplayMedia(window, "screen");
      }
    },
    onChangeCaptureInput: function (event) {
      this.showBlackScreen = false;
      this.showRecordMenu = true;
      const reader = new FileReader();

      reader.onload = (file) => {
        var fileContent = file.target.result;
        this.player.recordedData = fileContent;
      };

      reader.onerror = () => {
        alert("Error file read");
      };

      reader.readAsDataURL(event.target.files[0]);
    },
    onUploadStart: function () {
      this.showBlackScreen = false;
      this.showUpload = true;
    },
    onUploadComplete: function () {
      alert("File has been uploaded!");
      this.showUpload = false;
      this.showRecordMenu = false;
      this.showStartScreen = true;
    },
    onUploadError: function (error) {
      alert("Upload error: " + error);
      this.showUpload = false;
    },
    startRecord: function () {
      if (this.isSafari) {
        setTimeout(() => {
          this.showBlackScreen = true;
        }, 1500);

        this.$refs.captureInput.click();
        return;
      }

      if (!this.deviceIsReady) {
        console.log("Device is not ready");
        return;
      }

      this.showStartScreen = false;
      this.showSettingsScreen = false;
      this.showRecordMenu = false;

      this.startTimer().then(() => {
        this.player.record().start();
        var deadline = new Date(
          Date.parse(new Date()) + this.options.plugins.record.maxLength * 1000
        );
        this.initializeClock(deadline);
      });
    },
    stopRecord: function () {
      if (this.showSettingsScreen) return;
      else if (this.isReview) {
        this.skipReview();
      } else {
        this.player.record().stop();
        clearInterval(this.timeClockinterval);
        this.showRecordMenu = true;
      }
    },
    startTimer: function () {
      this.showTimer = true;
      return new Promise((resolve) => {
        this.count = 5;
        const interval = setInterval(() => {
          this.count--;

          if (this.count <= 0) {
            clearInterval(interval);
            this.showTimer = false;
            resolve(this.count);
          }
        }, 1000);
      });
    },
    accept: function () {
      const upload = this.$refs.uploadFile;
      if (this.isSafari) {
        this.player.recordedData = this.$refs.captureInput.files[0];
      }
      upload.file = this.player.recordedData;
      upload.upload();
    },
    review: function () {
      const vsrc = this.isSafari
        ? this.player.recordedData
        : window.URL.createObjectURL(this.player.recordedData);
      const video = this.$refs.video;
      video.src = vsrc;
      video.play();
      video.onended = () => {
        this.skipReview();
      };
      this.showStartScreen = false;
      this.isReview = true;
    },
    skipReview: function () {
      const video = this.$refs.video;
      video.pause();
      this.isReview = false;
    },
    reRecord: function () {
      this.startRecord();
    },
    openFileSelect: function () {
      this.$refs.uploadFile.openFileSelect();
    },
    initializeClock: function (endtime) {
      const getTimeRemaining = (endtime) => {
        let t = Date.parse(endtime) - Date.parse(new Date());
        let seconds = Math.floor((t / 1000) % 60);
        let minutes = Math.floor((t / 1000 / 60) % 60);
        let hours = Math.floor((t / (1000 * 60 * 60)) % 24);
        let days = Math.floor(t / (1000 * 60 * 60 * 24));
        return {
          total: t,
          days: days,
          hours: hours,
          minutes: minutes,
          seconds: seconds,
        };
      };
      const updateClock = () => {
        let t = getTimeRemaining(endtime);

        if (t.total <= 0) {
          clearInterval(this.timeClockinterval);
        }

        this.recordTime =
          ("0" + t.minutes).slice(-2) + ":" + ("0" + t.seconds).slice(-2);
      };

      updateClock();
      this.timeClockinterval = setInterval(updateClock, 1000);
    },
    openSettings: function () {
      if (!this.deviceIsReady) {
        console.log("Device is not ready");
        return;
      }
      this.showStartScreen = false;
      this.showSettingsScreen = true;
    },
    closeSettings: function () {
      this.showStartScreen = true;
      this.showSettingsScreen = false;
    },
    addVideoJsEvents: function () {
      this.player.on("enumerateReady", () => {
        this.showPreload = false;
        const devices = [];
        // distinct
        for (let i = 0; i < this.player.record().devices.length; i++) {
          const element = this.player.record().devices[i];
          if (devices.find((i) => i.deviceId === element.deviceId)) {
            continue;
          }
          devices.push(element);
        }
        this.videoDevices = devices.filter((i) => i.kind === "videoinput");
        this.audioDevices = devices.filter((i) => i.kind === "audioinput");
        this.selectVideoDevice = this.videoDevices[0]
          ? this.videoDevices[0].deviceId
          : null;
        this.selectAudioDevice = this.audioDevices[0]
          ? this.audioDevices[0].deviceId
          : null;
        this.deviceIsReady = true;
      });

      // error handling
      this.player.on("enumerateError", () => {
        this.deviceIsReady = false;
        console.warn("enumerate error:", this.player.enumerateErrorCode);
      });

      this.player.on("deviceError", () => {
        this.deviceIsReady = false;
        console.warn("device error:", this.player.deviceErrorCode);
      });

      this.player.on("error", (element, error) => {
        console.error(error);
      });

      // user clicked the record button and started recording
      this.player.on("startRecord", () => {
        this.isRecording = true;
        console.log("started recording!");
      });

      // user completed recording and stream is available
      this.player.on("finishRecord", () => {
        this.isRecording = false;
        // the blob object contains the recorded data that
        // can be downloaded by the user, stored on server etc.
        console.log("finished recording: ", this.player.recordedData);
      });

      // enumerate devices once
      this.player.one("deviceReady", () => {
        this.deviceIsReady = true;
        this.player.record().enumerateDevices();
      });
    },
    changeVideoInput: function (event) {
      const deviceId = event.target.value;
      console.log(deviceId);
      try {
        // change video input device
        this.player.record().setVideoInput(deviceId);
      } catch (error) {
        console.warn(error);
      }
    },
    changeAudioInput: function (event) {
      const deviceId = event.target.value;
      console.log(deviceId);
      try {
        // change audio input device
        this.player.record().setAudioInput(deviceId);
      } catch (error) {
        console.warn(error);
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import "../assets/css/style.css";
</style>
