<template>
  <div id="app">
    <VideoRecord :maxLength="maxLength" :uploadServerUrl="uploadServerUrl" />
  </div>
</template>

<script>
import VideoRecord from "./components/VideoRecord.vue";

export default {
  name: "App",
  data() {
    return {
      maxLength: 300,
      uploadServerUrl: process.env.VUE_APP_SERVER+'index.php',
    };
  },
  components: {
    VideoRecord,
  }
};
</script>
